@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp_FIA35_Cookies2.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zweite</title>
</head>
<body>
    <h1>Start</h1>
    <div>
        <form method="post" action="/home/zweite">
            <input type="hidden" asp-for="@Model.Nachname" /><label asp-for="@Model.Nachname"></label><br />
            <input type="text" asp-for="@Model.Vorname" /><label asp-for="@Model.Vorname"></label><br />
            <input type="number" asp-for="@Model.Alter" /><label asp-for="@Model.Alter"></label><br />
            <button>Speichern und weiter</button>
        </form>
    </div>
</body>
</html>
